//colors
$dark-purple: #330066;
$light-purple: #883bd4;
$orange: #ffcc00;
$light-orange: #f9e5bc;
$white: #ffffff;
$button-disabled: gray;
$uncomplited: #c21a1a;
$completed: greenyellow;

//mediapoints
$desktop: 1439px;
$tablet: 1023px;
$mobile: 767px;
$oldMobile: 374px;

//typograhpy
$h1: 100px;
$h2: 50px;
$h3: 36px;
$h4: 28px;
$list_item: 30px;
$middle-text: 26px;
$button-text: 16px;
